.buttonsWrapper {
  grid-row: 2/3;
  grid-column: 1/2;
}

button {
  width: 150px;
  height: 30px;
}

button:disabled {
  color: pink;
}

.checkIcon {
  opacity: 0.5;
  margin-left: 32px;
}

.filesWrapper {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.FileName {
  margin-bottom: 8px;
  font-size: 14px;
}

.progressWrapper {
  border: solid blue 2px;
}

.fileRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.uploadWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 10% auto;
  /* height: 200px; */
  width: 100%;
  align-items: stretch;
  justify-items: stretch;
  border: dotted red 1px;
  border-radius: 7px;
}
