.buttonWrapper {
  grid-row: 3/4;
}

button {
  width: 150px;
  height: 30px;
  margin: 10px;
}

button:disabled {
  color: maroon;
}

.dropzoneWrapper {
  grid-row: 1/2;
}

.filesWrapper {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.progressWrapper {
  grid-row: 2/3;
}

.fileRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

.uploadWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 10px auto;
  width: 100%;
  align-items: stretch;
  justify-items: stretch;
  border-radius: 7px;
}
