.checkIcon {
  margin-left: 10px;
  margin-bottom: -6px;
}

.Dropzone {
  width: 100%;
  border: 2px dashed #008297;
  font-size: 16px;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  justify-items: center;
  align-items: center;
  padding: 15px;
}

.DropzoneIcon {
  grid-row: 1/2;
  opacity: 0.3;
  width: 120px;
}

.DropzoneText {
  grid-row: 2/3;
  font-size: 14px;
  text-align: center;
  /* margin-top: -5px; */
}

.FileInput {
  display: none;
}

.FileName {
  margin-right: 0px;
}

.Highlight {
  background-color: #a2d9da;
}
