.Dropzone {
  height: 150px;
  width: 100%;
  border: 2px dashed rgb(187, 186, 186);
  font-size: 16px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  justify-items: center;
  align-items: center;
}

.DropzoneText {
  grid-row: 2/3;
}

.Highlight {
  background-color: #a2d9da;
}

.DropzoneIcon {
  grid-row: 1/2;
  opacity: 0.3;
  height: 125px;
  width: 125px;
}

.FileInput {
  display: none;
}
